[access]
	inheritFrom = All-Projects
[label "Verified"]
        defaultValue = 0
        value = -1 Fails
        value = 0 No score
        value = +1 Verified
        copyCondition = changekind:NO_CHANGE
	function = MaxWithBlock
[receive]
        enableSignedPush = true
[submit]
[access "refs/heads/*"]
	label-Verified = -1..+1 group Service Users
[access "refs/tags/*"]
	push = group Submitters
[submit-requirement "Verified"]
	description = At least one maximum vote for label 'Verified' is required
	submittableIf = label:Verified=MAX,user=non_uploader AND -label:Verified=MIN
	canOverrideInChildProjects = true
